.header {
    height: 60px;
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    border-bottom: 2px solid black;
    padding-top: 3px;
    margin-bottom: 10px;
  }
  .headerLinks {
    color: white;
    text-decoration: none;
    list-style-type: none; 
  }  
  .headerLinks:hover {
    cursor:pointer;
  }
  .navLink {
    text-align: right;
  }