.profile {
  margin: 0px auto;
  width: 60%;
}
.header {
    height: 60px;
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    border-bottom: 2px solid black;
    padding-top: 3px;
    margin-bottom: 10px;
  }
  .headerLinks {
    color: white;
    text-decoration: none;
    list-style-type: none; 
  }  
  .headerLinks:hover {
    cursor:pointer;
  }
  .navLink {
    text-align: right;
  }
  .profileImageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 50px;
  }
  .imageCard {
    width: 300px;
    height: 300px;

  }
  .imageCardImage {
    width: 300px;
    height: 300px;
  }
  .imageCardTitle {
    font-weight: bold;
    text-align: center;
  }
  .profileTitle {
    text-align: center;
  }
  .profileTitleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    }