.header {
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
  }
  .seeLinks {
    color: white;
    text-decoration: none;
    list-style-type: none;
  }